@page "/"
@using HiddenVilla_Server.Model

@* <h1>Hello, world!</h1> *@
@* *@
@* Welcome to your new app. *@
@* *@
@* <SurveyPrompt Title="How is Blazor working for you?"/> *@
<h2 class="bg-light border p-2">First Room</h2>
Room: @_room.RoomName
<br>
Price: @_room.Price
<br>

<input type="number" @bind-value="@_room.Price" @bind-value:event="oninput"/>
<br>
<input type="checkbox" @bind-value="_room.IsActive" checked="@(_room.IsActive ? "Checked" : null)"> &nbsp; Is Active
<br>
<span>This room is @(_room.IsActive ? "Active" : "Inactive")</span>

@code
{
    BlazorRoom _room = new()
    {
        Id = 1,
        RoomName = "Villa Suite",
        IsActive = true,
        Price = 499
    };
}
